.content {
  @include flex(space-between,center, row, nowrap);
  width: 100%;
  padding: 140px 80px;

  @include respond-up($xl) {
    padding: $pd-xl;
  }

  @include respond-down($md-m) {
    padding: 140px 32px;
  }

    
  @include respond-down($sm-m) {
    padding: $pd-mobile;
    @include flex(center, flex-start, column, nowrap);
  }

  &--white {
    background-color: $white;
  }

  &--grey {
    background-color: $grey-5;
  }

  &__form {
    @include flex(space-between, center, row, nowrap);

    height: 100%;
    width: 100%;

    @include respond-down($sm) {
      padding: $pd-mobile;
      @include flex(center, flex-start, column, nowrap);
    }

    h2,
    p,
    input,
    textarea {
      background-color: transparent;
      width: 100%;
    }

    input,
    textarea {
      border: 2px solid $black;

      &:focus,
      &:active {
        background-color: transparent;
        border-color: $black;
        box-shadow: none;
        outline: none;
      }
    }

    input {
      @include rem(font-size, 20px);
      margin-bottom: 20px;
    }

    textarea {
      @include rem(font-size, 10px);
    }

    .content__img {
      background-color: lighten($text-grey, 5%);
      position: relative;

      .input-field {
        display: none;
      }

      .image-uploader {
        @extend %absolute-center;
        @include flex(center, center, column, nowrap);

        background-color: $black;
        border-radius: 10px;
        color: $white;
        font-weight: 600;
        padding: 8px 12px;
        transform-origin: center;
        scale: 1;

        label {
          cursor: pointer;
        }

        > div {
          background-color: transparent;
          content: "Maximaal 4MB";
          cursor: auto;
        }
      }

      &--has-image {
        .image-uploader {
          opacity: 0;
        }
  
        &:hover {
          .image-uploader {
            opacity: 1;
          }
        }
      }
    }

    .icon:hover i {
      transform: translateX(0) !important;
    }

    .icon i {
      top: -3px !important;
    }
  }

  &--reversed,
  &__form--reversed {
    @include flex(space-between, center, row-reverse, nowrap);

    @include respond-down($sm-m) {
      @include flex(center, flex-start, column, nowrap);
    }
  }

  &__text {
    min-width: 50%;
    width: 50%;

    @include flex(center, flex-start, column, nowrap);

    @include respond-down($sm-m) {
      min-width: 100%;
      width: 100%;
    }

    .btn-area {
      margin: 20px 0 0;
      @include flex(flex-start, center, row, nowrap);

      @include respond-down($sm-m) {
        @include flex(flex-start, flex-start, column, nowrap);
      }

      &__text-link {
        @include rem(font-size, 10px);
        cursor: pointer;
        margin: 0 0 0 20px;

        @include respond-down($sm-m) {
          margin: 20px 0 0 0;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__img {
    border-radius: 50%;
    height: 400px;
    overflow: hidden;
    width: 400px;

    @include respond-down($md-m) {
      height: 350px;
      width: 350px;
    }

    @include respond-down($sm-m) {
      border-radius: 0;
      height: auto;
      margin: 40px 0 0;
      width: 100%;
    }

    img {
      height: 100%;
      object-fit: cover;
      object-position: center;
      margin: 0;
      width: 100%;

      @include respond-down($sm-m) {
        height: auto;
        margin: 0;
        width: 100%;
      }
    }
  }

  &__edit-buttons {
    @include flex(center, center, column, nowrap);

    bottom: 150px;
    background-color: $white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0px 2px 20px 0 rgba(235, 17, 94, 0.31);
    height: fit-content;
    position: absolute;
    right: 0;
    width: fit-content;

    .edit-button {
      @include flex(center, center);

      background-color: $white;
      border: none;
      cursor: pointer;
      font-size: 17px;
      height: 50px;
      padding: 0;
      margin: 0;
      width: 50px;

      &:first-child {
        border-top-left-radius: 5px;
      }

      &:last-child {
        border-bottom-left-radius: 5px;
      }

      &--border {
        border-top: 1px solid $grey-border;
      }

      i {
        color: $black;
        transition: scale .2s ease-in-out;
        scale: 1;

        &.red {
          color: $red;
        }
      }

      &:hover {
        background: darken($white, 3%);

        i {
          scale: 1.065;
        }
      }
    }

    .color-palette {
      @include flex(center, center);

      background-color: $white;
      border: 1px solid $grey-border;
      box-shadow: $card-shadow-dark;
      bottom: 0;
      height: 100%;
      left: -150px;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      user-select: none;
      width: 150px;

      &__color {
        @include flex(center, center);
        @include rem(font-size, 9px);

        height: 100%;
        font-weight: bold;
        width: 50%;

        &--white {
          background-color: $white;
        }

        &--grey {
          background-color: $grey-5;
        }
      }
    }

    .color-button {
      position: relative;

      &:hover {
        .color-palette {
          opacity: 1;
          pointer-events: all;
        }
      }
    }
  }
}
