// @import './../../../assets/scss/config';
// @import './../../../assets/scss/extends';
// @import './../../../assets/scss/mixins';

.footer-container {
  background-color: $black-3;
  height: $footer-height;
  width: 100vw;

  @include flex(center, center, row, nowrap);

  @include respond-down($sm-m) {
    height: auto;
    padding: 4em 1em;
    @include flex(flex-start, flex-start, column, nowrap);
  }

  h2 {
    color: $white;
  }

  &__social {
    margin-left: auto;
    @include flex(flex-start, center, row, nowrap);

    @include respond-down($sm-m) {
      margin-left: 0;
    }

    .icon-btn {
      @include spinningBorder($white);
      font-size: 26px;
      height: 60px;
      width: 60px;

      &:first-child {
        margin: 0 25px 0 0;

        @include respond-down($sm-m) {
          margin: 0;
        }
      }

      &:last-child {
        margin: 0 0 0 10px;
      }
    }
  }

  &__address {
    border-left: 1px solid $asphalt-border;
    margin-left: auto;
    padding: 1em 2em;

    @include respond-down($sm-m) {
      border: none;
      margin: 0;
      padding: 1em;
    }
  }

  &__contact {
    border-left: 1px solid $asphalt-border;
    margin: 0 auto 0 2em;
    padding: 1em 2em;

    @include flex(flex-start, flex-start, column, nowrap);

    @include respond-down($sm-m) {
      border: none;
      margin: 0;
      padding: 1em;
    }

    ;
  }

  &__address,
  &__contact {
    a {
      margin: 0;
    }
  }

  .contact-link {
    color: $white;
    font-weight: $light;
    letter-spacing: .9px;
    line-height: 2.25;

    @include rem(font-size, 11px);

    &:hover {
      text-decoration: underline;
    }
  }
}
