@keyframes slideOver {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(100%);
  }

  75% {
    transform: translateX(0);
  }
}

svg {
  height: 30px;
  transform: scale(-1, 1);
  width: auto;

  @include respond-up($xl) {
    height: 35px;
  }

  @include respond-down($sm-m) {
    height: 28px;
  }

  @include respond-down($sm) {
    height: 25px;
  }

  #menu-icon {
    fill: $white;
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);

    .line {
      transform: translate(0, 0) rotate(0);
      transition: all .35s ease-in-out;
    }
  }

  &.active {
    position: relative;
    z-index: $z-menu-overlay;

    #menu-icon {
      path {
        fill: $black-2;
      }

      #path-1 {
        transform: translate(55px, 250px) rotate(-45deg);
      }

      #path-2 {
        transform: translate(135px, -85px) rotate(45deg);
      }

      #path-3 {
        opacity: 0;
        transform: translateX(100%);
        width: 0;
      }
    }
  }

  &.black {
    position: relative;
    z-index: $z-menu-overlay;

    #menu-icon {
      path {
        fill: $black-2;
      }
    }
  }
}
