.login-page,
.signup-page,
.forgot-password-page,
.verify-page,
.change-pass-page {
  @include flex(center, center, column, nowrap);

  background-color: $black-3;
  height: 100vh;
  padding-top: calc(#{$header-height} + 120px);
  overflow-y: hidden;

  h1,
  h2,
  p,
  span,
  a {
    color: $white;
  }

  p,
  a {
    @include rem(font-size, 10px);
    font-weight: 500;
  }

  h1 {
    margin-top: -240px;
  }

  .login-form,
  .signup-form,
  .forgot-pass-form,
  .change-pass-form {
    height: 500px;
    min-width: 330px;
    width: fit-content;

    &__intro {
      margin-bottom: 30px;

      h2 {
        font-weight: 500;
      }
    }

    &__form {
      @include flex(flex-start, flex-start, column, nowrap);

      .form__group {
        margin-bottom: 20px;
        width: 100%;

        input {
          width: 100%;
        }
      }
    }

    &__outbound {
      margin-top: 20px;

      p {
        margin: 0;
        text-align: center;

        a {
          font-weight: 700;
        }
      }
    }
  }
}
