.home-page {
  background-color: $white-2;
  min-width: 100vw;
  padding: 0;
  width: 100vw;

  .hero {
    min-width: 100vw;
  }

  > section {
    display: flex;
    min-height: fit-content;
    min-width: 100vw;
    position: relative;
    width: 100vw;
  }

  .add-section-btn {
    @include flex(center, center);

    background-color: $black;
    bottom: -25px;
    border: none;
    border-radius: 50%;
    color: $white;
    cursor: pointer;
    font-size: 20px;
    height: 50px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) scale(1);
    transition: transform .2s ease-in-out;
    width: 50px;
    z-index: 5;

    &--top {
      bottom: unset;
      top: -25px;
    }

    &:hover {
      transform: translateX(-50%) scale(1.1);
    }
  }

  .content-section {
    margin: 0 auto;
    max-width: 1440px;
    position: relative;
  
    @include respond-down($sm-m) {
      @include flex(center, flex-start, column, nowrap);
    }
  }

  .about-us {
    height: auto;
    padding: $pd-desktop;

    @include respond-down($md) {
      padding: $pd-tablet;
    }

    @include respond-down($sm) {
      height: auto;
      padding: 5em 32px;
    }
  }
}
