.modal {
  &-title {
    font-family: $main-font;
  }

  .form {
    &__group {
      margin-bottom: 20px;

      input {
        border-width: 2px;
        border-radius: 0;
      }
    }
  }

  &__btn-area {
    @include flex(flex-end, center, row, nowrap);

    button {
      margin-left: 20px;
    }
  }
}
